/*----------------------- COLORS -----------------------*/

:root {
  --amarillo: #fab91c;
  --azulOscuro: #17375c;
  --celeste: #0082ca;
  --rojo: #e42522;
  --verde: #85bb25;
  --negroTexto: #2b2b2b;
  --negro: #424242;
}

/*---------------------- GENERALES ----------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  position: relative;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

section {
  padding-right: 12px;
}

section[id] {
  scroll-margin-top: 80px;
}

.values-item[id] {
  scroll-margin-top: 100px;
}

/*----------------------- HEADER ------------------------*/

header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 70px;
  z-index: 30;
  background-color: rgba(250, 250, 250, 0.75);
  backdrop-filter: blur(3px);
}

#logo-mobile {
  position: absolute;
  top: -5px;
  left: 10px;
  padding-top: 10px;
  margin: 10px 0 0 10px;
  width: 150px;
  height: 150px;
}

#logo-mobile img{
  width: 100%;
}

/*========= MENU =========*/

.menu {
    position: absolute;
    right: 30px;
    width: 100%;
    transition: transform 0.3s;
    z-index: 15;
}

.menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  text-align: center;
}

.menu ul li{
  font-family: "GOTHAM-LIGHT";
  font-size: 14px;
  letter-spacing: 3px;
  line-height: 16px;
}

.menu ul li a{
  margin: 0 0 0 30px;
  padding: 25px 10px 15px;
  color: var(--negroTexto);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.menu ul li:nth-child(1) a:hover{
  color: var(--celeste);
}

.menu ul li:nth-child(2) a:hover{
  color: var(--verde);
}

.menu ul li:nth-child(3) a:hover{
  color: var(--rojo);
}

.menu ul li:nth-child(4) a:hover{
  color: var(--amarillo);
}

/*------------------------ INTRO ------------------------*/

.intro {
  margin: auto;
  width: 90%;
  max-width: 700px;
  min-height: 100vh;
  text-align: center;
  font-family: "GOTHAM-MEDIUM";
  font-size: 22px;
  font-weight: bold;
  line-height: 26px;
  position: relative;
  transform: translateY(35%)
}

.intro::before {
  content: "";
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--rojo);
  position: absolute;
  top: -15vh;
  left: 50px;
}

.intro::after {
  content: "";
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: var(--celeste);
  position: absolute;
  top: -22vh;
  right: 15px;
}

.intro p:nth-child(1) {
  color: var(--negroTexto);
  position: relative;
}

.intro p:nth-child(1)::before {
  content: "";
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: var(--azulOscuro);
  position: absolute;
  bottom: -50vh;
  left: -300px;
}

.intro p:nth-child(1)::after {
  content: "";
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-color: var(--amarillo);
  position: absolute;
  bottom: -20vh;
  right: -100px;
}

.intro p:nth-child(2) {
  color: var(--rojo);
  position: relative;
}

.intro p:nth-child(2)::after {
  content: "";
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: var(--verde);
  position: absolute;
  bottom: -26vh;
  right: 200px;
}

/*----------------------- ABOUT US -----------------------*/

.about-us {
  display: flex;
  padding: 5px 20px 5px 5px;
  margin-bottom: 30px;
}

.about-us h2 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: right;
  color: var(--celeste);
  font-family: "GOTHAM-LIGHT";
  font-size: 15px;
}

.about-us-content {
  display: inline-block;
  max-width: 660px;
  margin: 0 auto;
  padding-left: 5px;
}

.about-us-content h3 {
  text-align: center;
  color: var(--azulOscuro);
  font-family: "GOTHAM-MEDIUM";
  margin-bottom: 20px;
}

.about-us-content h3:nth-of-type(2),
.about-us-content h3:nth-of-type(3) {
  margin: 40px 0 20px;
}

.about-us-content p {
  color: var(--negroTexto);
  font-family: "GOTHAM-LIGHT";
  font-size: 16px;
  line-height: 22px;
  text-align: left;
}

.circling-div-p {
  border-left: 1px solid var(--azulOscuro);
  margin-top: 20px;
  padding-left: 25px;
  position: relative;
}

.circling-div-p p{
  margin-bottom: 10px;
}

.p-circle .span-negrita{
  font-weight: 1000;
  color: black;
}

.p-circle::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  left: -6.1px;
}
.p-amarillo::before {
  background-color: var(--amarillo);
}
.p-verde::before {
  background-color: var(--verde);
}
.p-celeste::before {
  background-color: var(--celeste);
}

/*---------------------- IMAGEN SIERRA ----------------------*/

.imagen-sierra {
  width: 100%;
  height: 40vh;
  background: url(../assets/images/sierra-mobile.png) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*------------------------ THE TEAM ------------------------*/

.the-team {
  margin: 120px auto 100px;
  position: relative;
}

.div-team {
  margin: 40px 0;
  display: flex;
  padding: 5px;
}

.div-team h2 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: right;
  color: var(--verde);
  font-family: "GOTHAM-LIGHT";
  font-size: 15px;
}

.div-team-content {
  padding-left: 10px;
  width: 100%;
  text-align: center;
}

.div-team-content h3 {
  text-align: center;
  color: var(--azulOscuro);
  font-family: "GOTHAM-MEDIUM";
  margin-bottom: 20px;
}

.div-team-content p {
  color: var(--negroTexto);
  font-family: "GOTHAM-LIGHT";
  font-size: 16px;
  line-height: 22px;
}

.team-member {
  text-decoration: none;
}

/*------------------------ THE TEAM ------------------------*/
/*------------------------- MODAL --------------------------*/

.arrow-out-modal {
  margin: 0 0 10px 10px;
  padding-left: 5px;
  display: inline-block;
  width: 50px;
  height: 50px;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}

.arrow-out-modal img{
  display: inline-block;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 5px;
  left: 15px;
}

.arrow-out-modal:hover {
  cursor: pointer;
}

#team-modal-container {
  text-align: center;
}

.team-modal-child {
  display: grid;
  text-align: center;
  grid-template-columns: 40px 350px 40px auto;
  grid-template-rows: 50px 350px repeat(5, minmax(50px, auto));
  transform: translateX(100%);
  padding: 30px;
  height: 90vh;
  width: 95%;
  max-width: 1400px;
  position: fixed;
  right: 0;
  top: 5%;
  z-index: 35;
  border-radius: 30px 0px 0px 30px;
  transition-property: transform opacity;
  transition-duration: 0.3s;
  transition-delay: 0;
  transition-timing-function: linear;
}

.team-modal-child > a{
  grid-column: 2/3;
  grid-row: 4/5;
  align-self: flex-start;
  text-align: center;
}

.visible-member {
  transform: translateX(0%);
  backdrop-filter: blur(2px);
}

.team-modal-child > span{
  color: white;
  margin-bottom: 25px;
}

.imagen-modal-desktop img{
  width: 75%;
}

.team-modal-child h4{
  font-size: 30px;
  font-family: "GOTHAM-MEDIUM";
  margin-bottom: 10px;
  text-align: center;
  grid-column: 2/3;
  grid-row: 3/4;
}

.team-modal-child h4::before{
  content: "";
  background: url(../assets/images/founder-agus.png) center center no-repeat;
  background-size: cover;
  width: 362px;
  height: 459px;
  text-align: center;
  grid-column: 2/3;
  grid-row: 2/3;
}

.team-modal-child p{
  font-size: 16px;
  font-family: "GOTHAM-LIGHT";
  line-height: 17px;
  margin-bottom: 22px;
  padding-right: 10px;
}

.sacarEnDesktop {
  display: none;
}

.texto-modal {
  grid-column: 4/5;
  grid-row: 2/7;
  overflow-y: scroll;
  text-align: left;
  padding-right: 35px;
  min-width: 480px;
  max-width: 670px;
}

.team-modal-child a{
  font-size: 16px;
  font-family: "GOTHAM-LIGHT";
  line-height: 17px;
  color: white;
}

.modal-amarillo {
  background-color: var(--amarillo);
}

.modal-verde {
  background-color: var(--verde);
}

.modal-celeste {
  background-color: var(--celeste);
  color: white;
}

.logo-modal-linkedin {
  display: inline-block;
  margin: 10px 0;
  width: 35px;
  height: 35px;
  text-align: center;
}

.links-bio {
  grid-column: 2/3;
  grid-row: 6/7;
  text-align: center;
  align-self: flex-end;
}

.links-bio a:nth-child(1) {
  margin-right: 70px;
}

/*-------------------- BLUREO DEL FONDO------------------*/

.blured-backdrop {
  z-index: 34;
  background-color: rgba(125, 125, 125, 0.5);
  backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.change-to-blured{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*------------------------ THE TEAM ------------------------*/
/*------------------------- MEMBERS ------------------------*/

.the-team {
  text-align: center;
}

.fotos-team {
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-content: center;
  margin: 0 auto;
}

.fotos-team img {
  width: 100%;
  width: 300px;
}

.fotos-team span {
  color: var(--negroTexto);
  font-family: "GOTHAM-LIGHT";
  font-size: 22px;
  line-height: 26px;
  display: block;
}

.member1, .member2, .member3 {
  position: relative;
  margin-bottom: 40px;
}

.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  top: 80px;
  right: 0px;
  z-index: -10;
  margin: 0 auto;
}

.member1-circle {
  border: 1px solid var(--amarillo);
}

.member2-circle {
  border: 1px solid var(--verde);
}

.member3-circle {
  border: 1px solid var(--celeste);
}


/*---------------------- IMAGEN MAR ----------------------*/

.imagen-mar {
  width: 100%;
  height: 40vh;
  background: url(../assets/images/mar-mobile.png) left center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*----------------------- OUR VALUES ----------------------*/

#our-values {
  display: flex;
  justify-content: center;
}

.our-values {
  margin: 170px auto 440px;
  position: relative;
  display: inline-block;
  text-align: left;
  width: 915px;
}

.our-values::before {
  content: "";
  width: 700px;
  height: 700px;
  border-radius: 50%;
  background-color: var(--rojo);
  position: absolute;
  top: -100px;
  left: -200px;
  z-index: -1;
}

.our-values h2 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  color: #ffffff;
  font-family: "GOTHAM-LIGHT";
  font-size: 15px;
  padding: 10px 10px 35px 10px;
  display: inline-block;
}

.our-values-red {
  text-align: left;
  position: relative;
}

.our-values-red p {
  font-family: "GOTHAM-LIGHT";
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  padding: 20px;
  display: inline-block;
  width: 400px;
  position: absolute;
  top: 130px;
  left: 30px;
  text-align: right;
}

.values {
  margin-top: 30px;
  text-align: center;
  display: inline-block;
  min-width: 300px;
}

.values-container {
  padding-bottom: 40px;
  position: relative;
}

.tiny-red-circle::before {
  content: "";
  background-color: var(--rojo);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  left: -25px;
  top: 5px;
}

.values-container h3{
  font-family: "GOTHAM-MEDIUM";
  font-size: 20px;
  margin-bottom: 0px;
  letter-spacing: 5px;
  text-align: left;
  color: var(--rojo);
}

.values-item{
  position: absolute;
  min-width: 318px;
}

#value-1 {
  top: -280px;
  left: 480px;
}

#value-2 {
  top: -130px;
  left: 570px;
}

#value-3 {
  top: 20px;
  left: 590px;
}

#value-4 {
  top: 170px;
  left: 570px;
}

#value-5 {
  top: 320px;
  left: 510px;
}

.values-item p:nth-of-type(2){
  font-family: "GOTHAM-LIGHT";
  font-size: 16px;
  text-align: left;
  color: var(--negroTexto);
}

.italic{
  font-family: "GOTHAM-LIGHTITALIC";
  text-align: left;
  margin-bottom: 10px;
}

#id-red-paginator {
  display: none;
}

/*---------------------- IMAGEN MARTE ----------------------*/

.imagen-marte {
  width: 100%;
  height: 40vh;
  background: url(../assets/images/marte-mobile.png) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*----------------------- CONTACT US ----------------------*/

.contact-us {
  margin: 50px auto;
}

.div-contact {
  margin: 40px 0;
  display: flex;
  padding: 5px;
}

.contact-us h2 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: right;
  color: var(--amarillo);
  font-family: "GOTHAM-LIGHT";
  font-size: 15px;
}

.contact-us-content {
  text-align: center;
  max-width: 660px;
  margin: 0 auto;
}

.contact-us-content h3 {
  text-align: center;
  color: var(--azulOscuro);
  font-family: "GOTHAM-MEDIUM";
  margin-bottom: 20px;
}

.contact-us-content p {
  color: var(--negroTexto);
  font-family: "GOTHAM-LIGHT";
  font-size: 16px;
  line-height: 22px;
  margin: 20px 5px 0px;
}

.contact-us-content a {
  color: var(--negroTexto);
  font-family: "GOTHAM-LIGHT";
  font-size: 16px;
  font-weight: 1000;
  line-height: 22px;
  text-decoration: none;
}

#linkedIn {
  margin-top: 5px;
  width: 25px;
}

/*----------------------- FOOTER ----------------------*/

footer {
  background-color: var(--negro);
  padding: 20px 0 20px;
}

.flex-container-footer {
  width: 95%;
  margin: 0 auto;
  padding: 10px 0 10px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.logo-footer img{
  width: 100%;
  max-width: 150px;
}

.div-lista-footer{
  display: inline-block;
  min-width: 500px;
  text-align: center;
}

.div-lista-footer ul{
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

.div-lista-footer ul li{
  list-style: none;
  padding: 0px 15px;
  margin-top: 15px;
  font-family: "GOTHAM-LIGHT";
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 2px;
}

.div-lista-footer ul li a{
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 12px;
  line-height: 15px;
}

footer p {
  color: #ffffff;
  font-family: "GOTHAM-LIGHT";
  font-size: 14px;
  line-height: 16px;
  margin: 15px 5px 0px;
  padding-bottom: 7px;
  padding-left: 15px;
  text-align: left;
}

.privacy-policy {
  color: #ffffff;
  font-family: "GOTHAM-LIGHT";
  font-size: 14px;
  line-height: 16px;
  margin: 10px auto 0px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  padding-left: 20px;
}

.div-lista-footer ul li a:hover ,.privacy-policy:hover {
  color: #a8a1a1;
}

/*-------------------- SCROLL TOP --------------------*/

.scrollTop {
  opacity: 0;
  visibility: hidden;
  transition-property: opacity;
  transition-duration: 1s;
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  background: url(../assets/logos/scrollTop.png) center center no-repeat;
  background-size: contain;
}

.scrollTop:hover {
  cursor: pointer;
}

.aparece-scroll-top {
  opacity: 1;
  visibility: visible;
}