/*----------------------- COLORS -----------------------*/

:root {
  --amarillo: #fab91c;
  --azulOscuro: #17375c;
  --celeste: #0082ca;
  --rojo: #e42522;
  --verde: #85bb25;
  --negroTexto: #2b2b2b;
  --negro: #424242;
}

/*---------------------- GENERALES ----------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

section {
  padding-right: 12px;
}

section[id] {
  scroll-margin-top: 70px;
}

/*----------------------- HEADER ------------------------*/

header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;
  z-index: 30;
  background-color: rgba(250, 250, 250, 0.95);
}

#logo-mobile {
  position: absolute;
  top: -5px;
  left: 10px;
  padding-top: 10px;
  margin: 10px 0 0 10px;
  width: 150px;
  height: 150px;
}

#logo-mobile img{
  width: 100%;
}

/*========= MENU =========*/

.menu {
    display: none;
    text-align: right;
    position: absolute;
    right: 30px;
    bottom: calc(-100vh + 60px);
    width: 100%;
    height: calc(100vh - 60px);
    transition: transform 0.3s;
    z-index: 15;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li{
  font-family: "GOTHAM-MEDIUM";
  font-size: 15px;
  letter-spacing: 3px;
  line-height: 16px;
}

.menu ul li a{
  margin: 0 0 0 30px;
  padding: 30px 10px 10px 0px;
  color: white;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.menu ul li a:hover{
  color: var(--amarillo);
}

/*====== CIRCLE MENU =====*/

.menu-bg {
	top: 0;
	right: -20px;
	position: absolute;
	z-index: 15;
	width: 0;
	height: 0;
	margin: 30px 0 20px 20px;
	background-color: var(--azulOscuro);
	border-radius: 50%;
	transition: 0.3s ease;
}

.blured-bg {
	top: 0;
	right: 0px;
	position: absolute;
	z-index: 10;
	width: 0;
	height: 0;
  backdrop-filter: blur(2px);
	background-color: rgba(250, 250, 250, 0.1);
}

.change-bg{
	width: 700px;
	height: 700px;
	transform: translate(50%,-50%);
}

.change-to-blured{
	width: 100vw;
	height: 100vh;
}

.change{
	display: block;
}

/*------------------------ INTRO ------------------------*/

.intro {
  margin: 160px auto 200px;
  width: 72%;
  max-width: 700px;
  text-align: center;
  font-family: "GOTHAM-MEDIUM";
  font-size: 17px;
  font-weight: bold;
  line-height: 25px;
  position: relative;
}

.intro::before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--rojo);
  position: absolute;
  top: -40px;
  left: -20px;
}

.intro::after {
  content: "";
  width: 69px;
  height: 69px;
  border-radius: 50%;
  background-color: var(--celeste);
  position: absolute;
  top: -80px;
  right: -15px;
}

.intro p:nth-child(1) {
  color: var(--negroTexto);
  position: relative;
}

.intro p:nth-child(1)::before {
  content: "";
  width: 172px;
  height: 172px;
  border-radius: 50%;
  background-color: var(--azulOscuro);
  position: absolute;
  bottom: -180px;
  left: -150px;
}

.intro p:nth-child(1)::after {
  content: "";
  width: 69px;
  height: 69px;
  border-radius: 50%;
  background-color: var(--amarillo);
  position: absolute;
  bottom: -80px;
  right: -55px;
}

.intro p:nth-child(2) {
  color: var(--rojo);
  position: relative;
}

.intro p:nth-child(2)::after {
  content: "";
  width: 69px;
  height: 69px;
  border-radius: 50%;
  background-color: var(--verde);
  position: absolute;
  bottom: -100px;
  right: 50px;
}

/*----------------------- ABOUT US -----------------------*/

.about-us {
  display: flex;
  padding: 5px;
}

.about-us h2 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: right;
  color: var(--celeste);
  font-family: "GOTHAM-LIGHT";
  font-size: 15px;
}

.about-us-content {
  padding-left: 10px;
}

.about-us-content h3 {
  text-align: center;
  color: var(--azulOscuro);
  font-family: "GOTHAM-MEDIUM";
  margin-bottom: 20px;
}

.about-us-content h3:nth-of-type(2),
.about-us-content h3:nth-of-type(3) {
  margin: 40px 0 20px;
}

.about-us-content > p {
  color: var(--negroTexto);
  font-family: "GOTHAM-LIGHT";
  font-size: 15px;
  line-height: 22px;
  text-align: center;
}

.about-us-content p {
  color: var(--negroTexto);
  font-family: "GOTHAM-LIGHT";
  font-size: 15px;
  line-height: 22px;
}

.circling-div-p {
  border-left: 1px solid var(--azulOscuro);
  margin-top: 20px;
  padding-left: 25px;
  position: relative;
}

.p-circle::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  left: -8px;
}
.p-amarillo::before {
  background-color: var(--amarillo);
}
.p-verde::before {
  background-color: var(--verde);
}
.p-celeste::before {
  background-color: var(--celeste);
}

/*---------------------- IMAGEN SIERRA ----------------------*/

.imagen-sierra {
  width: 100%;
  height: 60vh;
  background: url(../assets/images/sierra-mobile.png) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*------------------------ THE TEAM ------------------------*/

.the-team {
  margin: 0 auto 40px;
  position: relative;
}

.div-team {
  margin: 40px 0;
  display: flex;
  padding: 5px;
}

.div-team h2 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: right;
  color: var(--verde);
  font-family: "GOTHAM-LIGHT";
  font-size: 15px;
}

.div-team-content {
  padding-left: 10px;
  width: 100%;
  text-align: center;
}

.div-team-content h3 {
  text-align: center;
  color: var(--azulOscuro);
  font-family: "GOTHAM-MEDIUM";
  margin-bottom: 20px;
}

.div-team-content p {
  color: var(--negroTexto);
  font-family: "GOTHAM-LIGHT";
  font-size: 15px;
  line-height: 22px;
}

.team-member {
  text-decoration: none;
}

/*------------------------ THE TEAM ------------------------*/
/*------------------------- MODAL --------------------------*/

.arrow-out-modal {
  margin-left: 10px;
  padding-left: 5px;
}

.arrow-out-modal:hover {
  cursor: pointer;
}

.team-modal-child {
  display: none;
  padding: 17px;
  height: 90vh;
  width: 99%;
  position: fixed;
  right: 0;
  top: 10px;
  z-index: 35;
  border-radius: 30px 0px 0px 30px;
}

.visible-member {
  display: block;
}

.team-modal-child > span{
  color: white;
  margin-bottom: 25px;
}

.team-modal-child h4{
  font-size: 30px;
  font-family: "GOTHAM-MEDIUM";
  margin-bottom: 10px;
}

.team-modal-child P{
  font-size: 14px;
  font-family: "GOTHAM-LIGHT";
  line-height: 17px;
}

.team-modal-child a{
  font-size: 14px;
  font-family: "GOTHAM-LIGHT";
  line-height: 17px;
  color: white;
}

.modal-amarillo {
  background-color: var(--amarillo);
}

.modal-verde {
  background-color: var(--verde);
}

.modal-celeste {
  background-color: var(--celeste);
  color: white;
}

.text-slide {
  min-height: 560px;
}

.textSwiper {
  margin: 10px auto 10px;
}

.modal-paginator {
  position: static !important;
  margin-top: 20px;
}

.logo-modal-linkedin {
  display: block;
  margin-bottom: 15px;
}

.links-bio a:nth-child(2) {
  margin-left: 30px;
}

/*------------------------ THE TEAM ------------------------*/
/*------------------------- SWIPER -------------------------*/

.fotos-team {
  text-align: center;
}

.fotos-team img {
  width: 100%;
  max-width: 300px;
  margin: 20px 0;
}

.fotos-team span {
  color: var(--negroTexto);
  font-family: "GOTHAM-LIGHT";
  font-size: 15px;
  line-height: 22px;
  display: block;
}

/*---------------------- IMAGEN MAR ----------------------*/

.imagen-mar {
  width: 100%;
  height: 60vh;
  background: url(../assets/images/mar-mobile.png) left center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*----------------------- OUR VALUES ----------------------*/

.our-values {
  margin: 210px auto 270px;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.our-values::before {
  content: "";
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-color: var(--rojo);
  position: absolute;
  top: -170px;
  left: calc(50% - 420px);
  z-index: -1;
}

.our-values h2 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  color: #ffffff;
  font-family: "GOTHAM-LIGHT";
  font-size: 15px;
  padding: 10px 10px 35px 10px;
  display: inline-block;
}

.our-values-red p {
  font-family: "GOTHAM-LIGHT";
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
  padding: 20px;
  display: inline-block;
  max-width: 75vw;
  display: none;
}

.values {
  margin-top: 30px;
  color: white;
  max-width: 230px;
  text-align: center;
  display: inline-block;
}

.values-container {
  padding-bottom: 40px;
}

.values-container h3{
  font-family: "GOTHAM-MEDIUM";
  font-size: 15px;
  margin-bottom: 20px;
  text-align: left;
}

.values-item p{
  font-family: "GOTHAM-LIGHT";
  font-size: 15px;
  text-align: left;
}

.red-paginator {
  margin: 40px auto 10px;
  display: inline-block;
}

.swiper-pagination-bullet-active {
  background-color: white !important;
}

/*---------------------- IMAGEN MARTE ----------------------*/

.imagen-marte {
  width: 100%;
  height: 60vh;
  background: url(../assets/images/marte-mobile.png) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/*----------------------- CONTACT US ----------------------*/

.contact-us {
  margin: 0 auto;
}

.div-contact {
  margin: 40px 0;
  display: flex;
  padding: 5px;
}

.contact-us h2 {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: right;
  color: var(--amarillo);
  font-family: "GOTHAM-LIGHT";
  font-size: 15px;
}

.contact-us-content {
  text-align: center;
  width: 100%;
}

.contact-us-content h3 {
  text-align: center;
  color: var(--azulOscuro);
  font-family: "GOTHAM-MEDIUM";
  margin-bottom: 20px;
}

.contact-us-content p {
  color: var(--negroTexto);
  font-family: "GOTHAM-LIGHT";
  font-size: 15px;
  line-height: 22px;
  margin: 20px 5px 0px;
}

.contact-us-content a {
  color: var(--negroTexto);
  font-family: "GOTHAM-LIGHT";
  font-size: 15px;
  font-weight: 1000;
  line-height: 22px;
  text-decoration: none;
}

#linkedIn {
  width: 25px;
}

/*----------------------- FOOTER ----------------------*/

footer {
  background-color: var(--negro)
}

.flex-container-footer {
  width: 95%;
  margin: 0 auto;
  padding: 10px 0 10px;
  display: flex;
  justify-content: space-between;
}

.flex-container-footer img{
  width: 50%;
  max-width: 230px;
}

.div-lista-footer ul{
  border-left: 0.5px solid #ffffff;
}

.div-lista-footer ul li{
  list-style: none;
  padding: 0px 0px 7px 10px;
  margin-top: 10px;
  font-family: "GOTHAM-LIGHT";
  font-size: 10px;
  line-height: 15px;
  letter-spacing: 2px;
}

.div-lista-footer ul li a{
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

footer p {
  color: #ffffff;
  font-family: "GOTHAM-LIGHT";
  font-size: 13px;
  line-height: 15px;
  margin: 15px 5px 0px;
  padding-bottom: 7px;
  text-align: center;
}

.privacy-policy {
  color: #ffffff;
  font-family: "GOTHAM-LIGHT";
  font-size: 13px;
  line-height: 15px;
  margin: 0px auto;
  text-align: center;
  text-decoration: none;
  display: block;
}

.div-lista-footer ul li a:hover ,.privacy-policy:hover {
  color: #a8a1a1;
}